@use "./base.scss";

[data-theme="dark"] {
  body th {
    color: #1a1a1a !important;    
  }
  table tbody tr:nth-child(odd) {
    background-color: #1e1e1e !important;
  }
  table tbody tr:nth-child(even) {
    background-color: #252525 !important;
  }
}

table {
  th, td {
    padding: 0.6em 1em !important;   
  }

  th {
    font-weight: 600;
    text-align: start;
    vertical-align: top;
    border-bottom: 2px solid #444444 !important;
  }

  border-collapse: collapse;
  width: 100%;
}